.films-container {
    display: flex;
    align-items: center;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding-left: calc(50vw - 730px);
        padding-right: calc(50vw - 730px);
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
    }
}