.modal-cast-block {
    background-color: var(--light-bg-color);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;

    header {
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        font-family: var(--font-family-oswald);
        font-weight: 200;
        color: var(--highlight-font-color);
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -30px;
    }

    .add-character {
        width: 180px;
        height: 180px;
        margin-bottom: 55px;
        color: var(--controls-color);
        border-color: rgba(58, 90, 95, .25);

        .icon-container {
            width: 66%;
            height: 66%;
        }

        .caption {
            bottom: -2.35em;
        }
    }
}