.popover {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #ffffff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .4));
    width: 570px;
    left: -135px;
    padding: 30px;
    padding-top: 55px;
    box-sizing: border-box;

    &.popover-trailer {
        top: calc(50% + 35px);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-close-button {
        top: 42px;
    }

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17.5px 19px 17.5px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 100%;
    }

    header {
        font-family: var(--font-family-oswald);
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
        font-size: 42px;
        margin-bottom: 1em;
        color: var(--highlight-font-color);
    }

    &.visible {
        opacity: 1;
        overflow: visible;
        max-height: none;
    }

    &.popover-poster {
        top: calc(50% + 35px);
    }
}

.form {
    .text-input {
        display: block;
        width: 100%;
        background-color: #eef1f1;
        border: 1px solid #e5e7e7;
        font-size: 28px;
        padding: 0.6em;
        box-sizing: border-box;
        border-radius: 0.3em;
        margin-bottom: 0.5em;
        resize: none;
        font-family: var(--font-family-opensans);

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-weight: 200;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-weight: 200;
        }
        &-ms-input-placeholder { /* IE 10+ */
            font-weight: 200;
        }
        &-moz-placeholder { /* Firefox 18- */
            font-weight: 200;
        }
        
        &:focus {
            background-color: #d4dadb;
            box-shadow: inset 0 0 1em #c4c7cb;
        }
    }

    .btn-submit {
        color: #fff;
        background-color: var(--controls-color);
        border: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.75em;
        display: block;
        min-width: 213px;
        text-transform: uppercase;
        font-family: var(--font-family-oswald);
        font-size: 24px;
        font-weight: 200;
        padding: 10px 15px 10px;
        border-radius: 55px;
        box-shadow: 0 0.2em 0.5em #bbb;
        cursor: pointer;
    }
}