.App {
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(82,255,106,.25) 0,transparent 150px), url(img/bg-pattern.jpg);
    background-position: 0 0, 0 0;
    background-repeat: no-repeat, repeat;
    color: var(--light-bg-color);
    min-height: 100vh;
    position: relative;
    overflow-x: auto;
}