:root {
    --light-bg-color: #f8f7f8;
    --element-bg-color: #3a5a5f;
    --naming-font-color: #1dc832;
    --highlight-font-color: #4b5172;
    --regular-font-color: #212121;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}