:root {
    --light-bg-color: #f8f7f8;
    --element-bg-color: #3a5a5f;
    --naming-font-color: #1dc832;
    --highlight-font-color: #4b5172;
    --regular-font-color: #212121;

    --font-family-oswald: "Oswald", sans-serif;
    --font-family-opensans: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-opensans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}